@import "../../styles/vars";

.rating-dots {
  @media only screen and (min-width: 0) {
    display: flex;
    justify-content: space-between;
    width: 96px;

    span {
      background-color: $medium-grey;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      display: inline-block;
      &.rated {
        background-color: $dark-grey;
      }
    }
  }
}
